.time-string {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.eat-button {
    background-color: pink;
    position: absolute;
    bottom: 15vh;
    left: 50%;
    transform: translate(-50%,0);
}